<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')%>

  <body class="home">
    <%- include('./partials/header.ejs') %>

    <main class="home-main">
      <div>
        <%- include('./partials/carousel.ejs')  %>
       
      </div>
      <section>
        <div class="subtitle-home">
          <h3 class="ofertas-home">OFERTAS LIMITADAS</h3>
        </div>

        <% productsInSale.forEach(product=> { %>
        <div class="articulos">
          <a href="/products/detail/<%- product.id %>">
            <article class="card-home">
              <img src="images/products/<%= product.images[0].name %>" width="100%"
                                    alt="<%- product.name %>"/>
              <div class="card-content-home">
                <h5><%- product.name %></h5>
                <p>
                  $<%- toThousand(product.price -
                  product.price*product.discount/100) %>
                </p>
              </div>
            </article>
          </a>
        </div>
        <% }) %>
      </section>
      <section>
        <div class="subtitle-home">
          <h3 class="ofertas-home">NOVEDADES</h3>
        </div>
        <% productsNews.forEach(products=> { %>
        <div class="articulos">
          <a href="/products/detail/<%- products.id %>">
            <article class="card-home">
              <img
                src="images/products/<%= products.images[0].name %>"
                width="100%"
                alt="<%- products.name %>"
              />
              <div class="card-content-home">
                <h5><%- products.name %></h5>
                <p>$<%- toThousand(products.price) %></p>
              </div>
            </article>
          </a>
        </div>
        <% }) %>
      </section>
      
    </main>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
    <script src="/js/carousel.js"></script>
  </body>
</html>
