<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include('./partials/header.ejs') %>

            <main class="home-main">
                <div>
                    <img src="/images/productos/banner.jpg" alt="Banner" width="100%" />
                </div>
                <section>
                    <div class="subtitle-home">
                        <h3 class="ofertas-home">OFERTAS LIMITADAS</h3>
                    </div>

                    <% productsInsale.forEach(products=> { %>
                        <div class="articulos">
                            <a href="/products/detail/ <%- products.id %>">
                                <article class="card-home">
                                    <img src="images/products/<%- products.image %>" width="100%"
                                        alt="<%- products.name %>" />
                                    
                                    <button type="submit" class="btn-whisking2">

                                        <div class="card-content-home">
                                            <h5>
                                                <%- products.name %>
                                            </h5>
                                            <p>$<%- toThousand(products.price - products.price*products.discount/100) %>
                                            </p>

                                        </div>
                                    </button>
                                </article>
                            </a>
                        </div>
                        <% }) %>
                </section>

                <section>
                    <div class="subtitle-home">
                        <h3 class="ofertas-home">PRODUCTOS DESTACADOS</h3>
                    </div>
                    <% productsStandOut.forEach(products=> { %>
                        <div class="articulos">
                            <a href="/products/detail/ <%- products.id %>">
                                <article class="card-home">
                                    <img src="images/products/<%- products.image %>" width="100%"
                                        alt="<%- products.name %>" />
                                    <div class="card-content-home">
                                        <h5>
                                            <%- products.name %>
                                        </h5>
                                        <p>$<%- toThousand(products.price) %>
                                        </p>

                                    </div>
                                </article>
                            </a>
                        </div>
                        <% }) %>
                </section>

            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>