<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title: product.name}) %> 

<body>
    <%- include('../partials/header.ejs')  %> 

    <main class="productDetail">
        <div class="productResponsive">
            <div class="img-container">
                <div class="second-img">
                    <img src="/images/products/<%- product.image %>" alt="">
                    <img src="/images/products/<%- product.image %>" alt="">
                    <img src="/images/products/<%- product.image %>" alt="">
                </div>
                <div class="main-img">
                    <img src="/images/products/<%- product.image %>" alt="">
                </div>
            </div>
            <div class="productResponsive2">
                <div class="nombreProducto">
                    <h2><%- product.name %> </h2>
                </div>
                <div class="productDescription">
                    <div class="precio">
                        <p>Precio: </p>
                        <p>$ <%- toThousand(product.price - product.price * product.discount / 100) %></p>
                        <span><%- product.discount > 0 ? `${product.discount} % OFF` : "" %></span>
                    </div>
                    <div class="button-container">
                        <button class="comprar btn-whisking">Comprar</button>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="productDescription-text">
            <div class="pais-origen">
                <p>País de origen: </p>
                <p><%- product.origen  %></p>
            </div>
            <div class="text-description">
                <b>Descripción: </b><%- product.description %>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>