<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
    <%- include('../partials/head.ejs',  {title:`Editar Producto: ${product.name} - The WhisKING Argentina`} )%> 
   
<!-- {title: product.name}  -->
<body class="body-edit">
    <!-- HeaderAdmin -->
    <%- include('../partials/headerAdmin.ejs')%> 
    <!-- /Header -->
   
    <main class="edit-main">
        <form action="/products/<%- product.id  %>?_method=PUT" method="POST" enctype="multipart/form-data"> <!-- modificar sacar el edit ->action="/products/edit/¿?" y poner ejs de produsts.id y el metodo es POST method="___" y agregarle el metodo override action="/products/ product.id  ?_method=PUT" -->
            <div class="form-edit">   <!-- css class="form-create" -->
                <section class="mediaEdit1"> <!--  css class="mediaCreate1"   -->                         
                        <h2>Estas editando: <i><%= product.name  %></i></h2> <!-- reemplazar PRODUCT NAME con ejs, le ponemos un '=' porque es una variable que esta llegando de la B.de datos del controlador -->
                    <div class="section-edit"> <!-- css class="section-create"  -->
                        <p>nombre del producto</p>
                        <input class="" type="text" name="name" placeholder="" id="productName" value="<%= product.name  %>"> <!-- PREGUNTAR AL EQUIPO xq id="productName" y  NO id="name"  -->
                        <span class="error-message-edit">Debes ingresar el nombre del producto</span>
                    </div>
                    <div class="section-edit"> <!-- css class="section-create" -->
                        <p>categoria</p>
                        <!-- <input class="" type="text" name="category" placeholder="" id="category" value="<%= product.category  %>"> -->
                        <select name="category" id="category">
                            <option value="Single-Malt"<%- product.category === "Single-Malt" && `selected` %> >Single-Malt</option>
                            <option value="Japonés"<%- product.category === "Japonés" && `selected` %>>Japonés</option>
                            <option value="Blended"<%- product.category === "Blended" && `selected` %>>Blended</option>
                            <option value="Bourbon"<%- product.category === "Bourbon" && `selected` %>>Bourbon</option>
                            <option value="Irlandeses"<%- product.category === "Irlandeses" && `selected` %>>Irlandeses</option>
                            <option value="Pedorros"<%- product.category === "Pedorros" && `selected` %>>Pedorros</option>
                        </select>
                        <span class="error-message-edit">Debes ingresar la categoria del producto</span>
                    </div>
                    <div class="price-stock">
                        <div class="section-edit"> <!-- css class="section-create" -->
                            <p>precio</p>
                            <input class="" type="text" name="price" placeholder="" id="price" value="<%= product.price  %>">
                            <span class="error-message-edit">Debes ingresar el precio</span>
                        </div>
    
                        <div class="section-edit stock"> <!--  css class="section-create stock"  -->
                            <p>Descuento</p>
                            <input class="input-stock" type="" name="discount" placeholder="" id="stock" value="<%= product.discount  %>">    
                        </div>
                    </div>

                    <div> <!-- carga de imagen no se como seguir, estaba hecho en boostrap, tengo que ver artisitica de el profe dijo que lo hizo en html y css sin boostrap -->
                        <div>
                            <span>Upload</span>
                        </div>
                        <div>
                            <label for="image">Cargar Foto</label>
                            <input type="file" name="image" class="" id="" > <!-- usamos el name del input=file para  -->
                            
                        </div>
                    </div>


                    <div class="section-edit"> <!-- css class="section-create" -->
                        <p>descripción</p>
                        <textarea class="" type="" name="description" placeholder="" id="description"><%= product.description  %></textarea>
                        <span class="error-message-edit">Debes ingresar una breve descripción del producto</span>
                    </div>
                    
                </section>
                <section class="mediaEdit2"> <!-- css class="mediaCreate2" -->
                    
                    <div class="section-edit"> <!-- css class="section-create"  ver como se hace linea 47 -->
                        <p>imágen</p>
                        <i class="far fa-image"></i>
                        <button type="submit" class="addImage">agrega una imagen</button>

                    </div>
                    <div class="botones">
                       
                        <div class="button-public-edit">
                            <button type="submit" class="botonEdit">actualizar</button>
                        </div>
                        <div class="button-cancel-edit">
                            <a href="/products/detail/ <%- product.id %>" class="botonCanceledit">cancelar</a>
                            <!--  <button type="submit" class="botonCancel" >cancelar</button> -->
                        </div>                      
                        
                    </div>
                </section>

            </div>   
        </form> 
        <form action="/products/<%- product.id  %>?_method=DELETE" method="POST" style="display: inline-flex"> <!--reemplazar /products/delete/¿? por el producto.id con ejs, borramos el delete  -->
            <button type="submit" class="botonCancel">eliminar</button> <!-- lo hice asi fuera del form porque  -->
        </form>
    </main>
    
    <%-include('../partials/footerAdmin.ejs')%> 
</body>

</html>