<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'The WhisKING Argentina' })%>
    <body class="body-userProfile">
        <%- include('../partials/header.ejs')%>
            <main class="profile-main">
                
                <div class="profile-avatar">
                    <img src="/images/usuarios/<%- user.avatar %>" alt="">
                </div>
                <div class="profile-info">
                    <div class="profile1-info">
                        <h3>Datos personales</h3>
                        <p class="profile-name">Nombre: <%= user.user_first_name %></p>
                    </div>
                    <div class="profile2-info">
                        
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>