<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'The WhisKING Argentina' })%>

    <body class="body-profile-avatar">
        <%- include('../partials/header.ejs')%>
            <main class="profile-avatar-main">
                <!--  -->



                <form action="/users/profile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="foto">


                        <input type="file" id="avatar" name="image" hidden>
                        <label class="iconPencil" style="cursor:pointer"  for="avatar"></label>
                        <img class="avatar" src="/images/users/<%= user.avatar %>" alt="">

                    </div>

                    <div class="form-profile">
                        <!--  -->
                        <div class="bloque1">
                            <h2>Datos personales</h2>
                            <hr>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="name" placeholder="" id="name"
                                    value="<%= user.name %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="lastName" placeholder=""
                                    id="lastName" value="<%= user.lastName %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="date" name="dateOfBirth" placeholder=""
                                    min="1900-01-01" max="3000-12-31" id="dateOfBirth" value="<%= user.dateOfBirth %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="email" name="email" placeholder="" id="email"
                                    value="<%= user.email %>" readonly>
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="phone" placeholder="teléfono"
                                    id="phone" value="<%= user.phone %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="cellPhone" placeholder="celular"
                                    id="cellPhone" value="<%= user.cellPhone %>">
                                <span class="error-profile"></span>
                            </div>
                        </div>
                        <div class="bloque2">
                            <h2>Dirección de Facturación</h2>
                            <hr>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="street" placeholder="Calle"
                                    id="street2" value="<%= user.addresses[0].street %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="number" name="number" placeholder="Número"
                                    id="number" value="<%= user.addresses[0].number %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <select name="province" id="select-province" class="input-style-profile" style="padding: 5px; background-color: white; background-color: white;">
                                    <option value="<%= user.addresses[0].province ? user.addresses[0].province : "" %>" hidden selected>
                                        <%= user.addresses[0].province ? user.addresses[0].province : "Seleccione la provincia..." %>
                                    </option>
                                </select>
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <select name="city" id="select-city" class="input-style-profile" style="padding: 5px; background-color: white;">
                                    <option value="<%= user.addresses[0].city ? user.addresses[0].city : "" %>" hidden selected>
                                        <%= user.addresses[0].city ? user.addresses[0].city : "Seleccione la localidad..." %>
                                    </option>
                                </select>
                                <span class="error-profile"></span>
                            </div>

                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="postalCode"
                                    placeholder="Código Postal" id="postalCode"
                                    value="<%= user.addresses[0].postalCode %>">
                                <span class="error-profile"></span>
                            </div>
                        </div>
                        <div class="bloque3">
                            <h2>Dirección de Envío</h2>
                            <hr>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="street2" placeholder="Calle"
                                    id="street" value="<%= user.addresses[1].street %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <input class="input-style-profile" type="number" name="number2" placeholder="Número"
                                    id="number" value="<%= user.addresses[1].number %>">
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <select name="province2" id="select-province2" class="input-style-profile" style="padding: 5px; background-color: white;"> 
                                    <option value="<%= user.addresses[1].province ? user.addresses[1].province : "" %>" hidden selected>
                                        <%= user.addresses[1].province ? user.addresses[1].province : "Seleccione la provincia..." %>
                                    </option>
                                </select>
                                <span class="error-profile"></span>
                            </div>
                            <div class="input-container-profile">
                                <select name="city2" id="select-city2" class="input-style-profile" style="padding: 5px; background-color: white;">
                                    <option value="<%= user.addresses[1].city ? user.addresses[1].city : "" %>" hidden selected>
                                        <%= user.addresses[1].city ? user.addresses[1].city : "Seleccione la localidad..." %>
                                    </option>
                                </select>
                                <span class="error-profile"></span>
                            </div>

                            <div class="input-container-profile">
                                <input class="input-style-profile" type="text" name="postalCode2"
                                    placeholder="Código Postal" id="postalCode"
                                    value="<%= user.addresses[1].postalCode %>">
                                <span class="error-profile"></span>
                            </div>

                        </div>



                    </div>
                    <div class="button-container-profile">
                        <button class="btn-whisking" type="submit">Guardar cambios</button>
                        <button class="btn-whisking" type="submit">Cancelar</button>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer.ejs') %>
                <script src="/js/apiProvincesLocalities.js"></script>
                
    </body>

</html>