<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'The WhisKING Argentina' })%>
    <body class="container"> <!-- class="body-userProfile" <--antes, existe el css de userProfile.css habria que ver si se puede adaptar o dejarlo como lo explico Eric con bootstrap -->
        <%- include('../partials/header.ejs')%>
            <main class="profile-main">
                
                <div class="profile-avatar"> 
                    <img src="/images/usuarios/<%- user.avatar %>" alt="">
                </div>
                <div class="profile-info">
                    <div class="profile1-info">
                        
                        <form action="/users/userProfile" method="POST" enctype="multipart/form-data">
                            
                            <div class="form-userProfile">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <h4>Datos personales</h4>
                                        <div class="mb-3">
                                            <label class="">Nombre:</label>
                                            <input class="form-control" type="text" name="name" placeholder="" id="name" value=" <%= user.name %>">
                                            <span class="error-profile"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="">Apellido:</label>
                                            <input class="form-control" type="text" name="last_name" placeholder="" id="last_name" value=" <%= user.lastName %>">
                                            <span class="error-profile"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="">Fecha de Nacimiento:</label>
                                            <input class="form-control" type="date" name="date_of_birth" placeholder=""  min="1900-01-01" max="3000-12-31" id="date_of_birth" value=" <%= user.dateOfBirth %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Correo Electrónico|:</label>
                                            <input class="form-control" type="email" name="email" placeholder="" id="email" value=" <%= user.email %>">
                                            <span class="error-profile"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h4>Dirección de Envío</h4>
                                        <div class="mb-3">
                                            <label class="">Calle:</label>
                                            <input class="form-control" type="text" name="street" placeholder="" id="street" value=" <%= user.addresses.street %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Número:</label>
                                            <input class="form-control" type="text" name="city" placeholder="" id="number" value=" <%= user.addresses.number %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Ciudad:</label>
                                            <input class="form-control" type="text" name="city" placeholder="" id="city" value=" <%= user.addresses.city %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Provincia:</label>
                                            <input class="form-control" type="text" name="province" placeholder="" id="province" value=" <%= user.addresses.province %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Código Postal:</label>
                                            <input class="form-control" type="text" name="postalCode" placeholder="" id="postalCode" value=" <%= user.addresses.postalCode %>">
                                            <span class="error-profile"></span>
                                        </div>  
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <h4>Dirección de facturación</h4>
                                        <div class="mb-3">
                                            <label class="">Calle:</label>
                                            <input class="form-control" type="text" name="street2" placeholder="" id="street2" value=" <%= user.addresses.street %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Número:</label>
                                            <input class="form-control" type="text" name="city" placeholder="" id="number" value=" <%= user.addresses.number %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Ciudad:</label>
                                            <input class="form-control" type="text" name="city" placeholder="" id="city" value=" <%= user.addresses.city %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Provincia:</label>
                                            <input class="form-control" type="text" name="province" placeholder="" id="province" value=" <%= user.addresses.province %>">
                                            <span class="error-profile"></span>
                                        </div> 
                                        <div class="mb-3">
                                            <label class="">Código Postal:</label>
                                            <input class="form-control" type="text" name="postalCode" placeholder="" id="postalCode" value=" <%= user.addresses.postalCode %>">
                                            <span class="error-profile"></span>
                                        </div>  
                                    </div>
                                    
                                    
                                </div>

                                
                                    
                                

                               


                                
                                
                                
                                
                            <br>    
                            <hr>
                            <!-- <h3>Cambio de contraseña</h3>
                                <div class="profile2-info">
                                    <div class="input-container-profile2-info">
                                        <p class="profile-datos">Contraseña Actual:</p> 
                                        <input class="input-style-userProfile" type="password" name="pass" placeholder="" id="contrasenia">
                                        <span class="error-profile">Debes ingresar la contraseña actual</span>
                                    </div>
                                    <div class="input-container-profile2-info">
                                        <p class="profile-datos">Contraseña Nueva:</p> 
                                        <input class="input-style-userProfile" type="password" name="pass" placeholder="" id="contrasenia">
                                        <span class="error-profile">Debes ingresar una Nueva contraseña</span>
                                    </div>
                                    <div class="input-container-profile2-info">
                                        <p class="profile-datos">Confirmar Nueva Contraseña:</p> 
                                        <input class="input-style-userProfile" type="password" name="pass2" placeholder="" id="contrasenia2">
                                        <span class="error-profile">Debes ingresar confirmar una Nueva Contraseña</span>
                                    </div>
                                    
                                </div>  
                            </div>        -->                     
                            
                            
                            
                           
                                    
                        </form>                    
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>
