<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'The WhisKING Argentina' })%>

    <body class="container">        
        <%- include('../partials/header.ejs')%>
            <main class="register-main"> <!--  -->
               
                

                <form action="/users/profile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div style="display: flex; justify-content: center; padding: 20px 0;">
                        <img width="150" src="/images/users/<%= user.avatar %>" alt="" >
                        <input type="file" id="avatar" name="image" hidden>
                        <label style="cursor:pointer" for="avatar">Cambiar imágen</label>
                   </div>
                    <h2>Datos personales</h2>
                    <hr>
                    <div class="form-register"> <!--  -->
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="name" placeholder="" id="name" value="<%= user.name %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="lastName" placeholder="" id="lastName" value="<%= user.lastName %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="date" name="dateOfBirth" placeholder="" min="1900-01-01" max="3000-12-31" id="dateOfBirth" value="<%= user.dateOfBirth %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="email" name="email" placeholder="" id="email" value="<%= user.email %>" readonly>
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="phone" placeholder="teléfono" id="phone" value="<%= user.phone %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="cellPhone" placeholder="celular" id="cellPhone" value="<%= user.cellPhone %>">
                            <span class="error-profile"></span>
                        </div>
                        <h2>Dirección de Facturación</h2>
                        <hr>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="street" placeholder="Calle" id="street2" value="<%= user.addresses[0].street %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="number" name="number" placeholder="Número" id="number" value="<%= user.addresses[0].number %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <select name="city" id="city">

                            </select>
                           <!--  <input class="input-style-register" type="text" name="city" placeholder="Ciudad" id="city" value="<= user.addresses[0].city %>"> -->
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <select name="province" id="province">

                            </select>
                            <!-- <input class="input-style-register" type="text" name="province" placeholder="Provincia" id="province" value="<= user.addresses[0].province %>"> -->
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="postalCode" placeholder="Código Postal" id="postalCode" value="<%= user.addresses[0].postalCode %>">
                            <span class="error-profile"></span>
                        </div>
                      

                        <h2>Dirección de Envío</h2>
                        <hr>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="street2" placeholder="Calle" id="street" value="<%= user.addresses[1].street %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="number" name="number2" placeholder="Número" id="number" value="<%= user.addresses[1].number %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="city2" placeholder="Ciudad" id="city" value="<%= user.addresses[1].city %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="province2" placeholder="Provincia" id="province" value="<%= user.addresses[1].province %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="input-container-register">
                            <input class="input-style-register" type="text" name="postalCode2" placeholder="Código Postal" id="postalCode" value="<%= user.addresses[1].postalCode %>">
                            <span class="error-profile"></span>
                        </div>
                        <div class="button-container-register">
                            <button  class="btn-whisking" type="submit">Guardar cambios</button>
                           
                       </div>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer.ejs') %>
            <script src="/js/apiProvinceslocalities.js"></script>
    </body>

</html>

